/* CSS reset */
body {
    margin: 0;
    padding: 0;
}

h2 {
    /*
   Definir a cor do texto utilizando o rgb (red,blue e gree)
   R =>0..255
   G =>0..255
   B =>0..255
   */

    color: rgb(64, 226, 43);
}

div {
    background-color: blue;


    a {
        color: #FFFFFF;
        /*text-decoration altera a decoração do texto
    none faz com que o texto não tenha nenhuma decoração */
        text-decoration: none;
    }

    /*hover é a ação que ocorre quando passar o mouse por cima do elemento */
    a:hover {
        color: #ff6500;

    }
}