body{
background-color: rgb(187, 201, 173);
}

.demonstracao{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 220px;
    height: 100px;
    margin: 6px;
    padding: 8px;
}
    


/*
top => parte de cima
right => direita
left => esquerda
bottom => parte de baixo
*/

.borda-solid{
    
    /* top => borda da parte superior */
    border-top-style: solid;
    border-top-color: #000;
    border-top-color: 1px;
    
    /* left => borda da parde esquerda*/
    border-left-style: solid;
    border-left-color: #000;
    border-left-color: 1px;

    /* right => borda da parte direita*/
    border-right-style: solid;
    border-right-color: #000;
    border-right-color: 1px;
   
    /*bottom => borda da parte inferior*/
    border-bottom-style: solid;
    border-bottom-color: #000;
    border-bottom-color: 1px;
}

.borda-dashed{
    /* border-top-style: solid;
    border-top-color: #000;
    border-top-width: 1px;*/
    
    /* Shorthad*/
    border-top: 4px dashed #f59e0b;
    border-right: 4px dashed #f59e0b;
    border-bottom: 4px dashed #f59e0b;
    border-left: 4px dashed #f59e0b;
}

.borda-dotted{

    /* cima,direita,baixo,esquerda */
    border-width: 6px 6px 6px 6px;
    border-style: dotted dotted dotted dotted;
    border-color:  #ef4444 #23de36 #7744ef #ef4444;
}

.borda-double{
    /* cima/baixo (6px), direita/esquerda (8px) */
    border-width: 6px 8px;
    border-color: #7c3aed;
    border-style: double;
}

.borda-groove{ 
    /* cima/direita/baixo/esquerda*/
    /* border-widht: 8px
    border-color: #3b82f6;
    border-style:groove; */
    border: 8px #3b82f6 groove;
}

.borda-ridge{
    border-width: 6px;
    border-style: ridge;
    border-color: #23de36;
}

.borda-inset{
    border-width: 6px;
    border-style: inset;
    border-color: #23de36;
    background-color: aqua ;
}

.borda-outset{
    border-width: 8px;
    border-style: outset;
    border-color: #6699ff;
}

.borda-radius-diferente{
    border: 8px #ef4444 solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 40px;
}

.borda-radius-diferente:hover{
    border-color: #7c3aed;
    cursor: pointer; 
}

.borda-radius-iguais{
    border: 8px #12Ab23 dashed;
    border-radius: 100px;
}

