.fonte-imperial-script{
    font-family: "Imperial Script", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 100px;
}

.text-decoration-underline{
    text-decoration: underline;
}

.italico{
  font-style: italic;
  font-size: 20px;
}

.negrito{
  font-style: bold;
}

.maiusculo{
  text-transform: uppercase;
  font-size: 200px;
  border-width: 8px;
  border-style: groove;
  border-color: #880303;
  background-color: #c10b0b;
  cursor: pointer;
}
  
.minusculo{
  text-transform: lowercase;
}

.capitalizar{
  text-transform: capitalize;
  font-size: 80px;
}

.alterar-fonte{
    font-family: Arial, Helvetica, sans-serif;
}

.linha-maior{
    line-height: 1.9;
}

.espacamento-entre-linhas{
    word-spacing: 0.6em;
}

.alinhamento-direita{
    text-align: right;
}

.alinhamento-centro{
    text-align: center;
}

.alinhamento-left{
    text-align: left;
}

.paragrafo-hifenizacao-automatica{
    hyphens: auto;
    text-align: justify;
}